.App {
  display :flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.counter{
	display : flex;
	flex-direction: row;
	align-items: center;
}

.ghIcon{
	width : 32px;
}

.iconImg{
	height : 18vh;
	width : 18vh;
}


.counterValue{
	font-size: 2em;
	font-weight :600;
	padding : 3vw;
	width : 10vw;
}

.counterButtons{
	display: flex;
	flex-direction: column;
	margin-top: 0.5em;
}

.buttonRow{
	margin-top : 2vh;
}

.mButton{
	width : 10vw;
	font-size: 1.25em;
	margin-left : 1vw;
	font-family: "PinyonScript";
	font-weight: 600;
	background-color: rgba(239,239,239,0.4);
}

.resetButton {
	font-family: "PinyonScript";
	font-weight: 600;
	background-color: rgba(239,239,239,0.4);
	font-size: 1.5em;
	margin : 0.5vh
}
