@font-face {
	font-family: "PinyonScript";
	src: local("PinyonScript"), url("./font/PinyonScript-Regular.ttf") format('truetype');
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-family: "PinyonScript";
	font-weight: 600;
}


